asgiref==3.8.1
dj-database-url==2.2.0
Django==5.1
django-heroku==0.3.1
django-pwa
gunicorn==23.0.0
mysqlclient==2.2.4
packaging==24.1
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-decouple==3.8
python-http-client==3.3.7
sqlparse==0.5.1
starkbank-ecdsa==2.2.0
typing_extensions==4.12.2
tzdata==2024.1
whitenoise==6.7.0
requests
