{% extends 'board/base.html' %}

{% block title %}Add Habit{% endblock %}

{% block content %}

<div class="container">
    
    <h2 class="mb-4">Add New Habit</h2>
    
    <form method="POST" class="mt-4">
        
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit" class="btn btn-primary">Add Habit</button>
        
        <a href="{% url 'board:habit_tracker' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
<base href="" class="html">
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
