{% extends 'board/base.html' %}

{% block title %}
    {{ user_profile.username }}'s Profile
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4">{{ user_profile.username }}'s Posts</h2>
    <ul class="list-group mb-4">
        {% for post in posts %}
        <li class="list-group-item post">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
            <small class="text-muted">Posted on {{ post.created_at }}</small>
            <div class="mt-2">
                {% if request.user == post.author %}
                <a href="{% url 'edit_post' post.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'delete_post' post.id %}" class="btn btn-danger btn-sm">Delete</a>
                {% endif %}
            </div>
        </li>
        {% empty %}
        <li class="list-group-item">No posts available.</li>
        {% endfor %}
    </ul>

    <h2>{{ user_profile.username }}'s Private Messages</h2>
    <ul class="list-group">
        {% for private_message in private_messages %}
        <li class="list-group-item post">
            <h3>{{ private_message.title }}</h3>
            <p>{{ private_message.content }}</p>
            <small class="text-muted">Sent on {{ private_message.created_at }}</small>
            <div class="mt-2">
                {% if request.user == private_message.sender %}
                <a href="{% url 'edit_message' private_message.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'delete_message' private_message.id %}" class="btn btn-danger btn-sm">Delete</a>
                {% endif %}
            </div>
        </li>
        {% empty %}
        <li class="list-group-item">No private messages available.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
