/* Basic custom styles */
body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.navbar {
    margin-bottom: 30px;
}

h1,
h2 {
    color: #343a40;
}

.post {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background-color: #343a40;
    color: #ffffff;
}