/* Basic custom styles */
body {
    background-color: #4288ce92;
}

.container {
    margin-top: 50px;
    inset-inline: 40%;
    padding: 20px;
}

.navbar {
    margin-bottom: 30px;
}

h1,
h2 {
    color: #cad0528e;
}

.post {
    background-color: #ef7ed98d;
    font-size: 18px;
    font-family: fantasy;
    font-color: #8f2263;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    background-color: #343a40;
    color: #ffffff;
}